a.scq-btn:not([href]):not([tabindex]){

  color: #6754e2;
}

a.scq-btn:not([href]):not([tabindex]):hover, 
a.scq-btn:not([href]):not([tabindex]):focus{
  
  color: white;
}

.btn_get{
  cursor: pointer; 
}