<header class="header_area" [ngClass]="{ 'navbar_fixed': fixed }">
  <nav class="navbar navbar-expand-lg menu_one">
    <div class="container custom_container p0">
      <a class="navbar-brand" href="/">
        <picture>
          <source srcset="assets/img/logo.webp 1x, assets/img/logo2x.webp 2x" type="image/webp">
          <img src="assets/img/compatibility/logo.png" alt="SCQUADRO, Sviluppiamo software a servizio del tuo business">
        </picture>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="menu_toggle">
          <span class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <span class="hamburger-cross">
            <span></span>
            <span></span>
          </span>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav menu ml-auto mr-auto">
          <li class="nav-item" [ngClass]="{ 'active': element.active }" *ngFor="let element of routes">
            <a class="nav-link" (click)="scrollTo(element.id, element.target)" role="button">
              {{element.text}}
            </a>
          </li>
        </ul>
      </div>
      <scq-button [text]="'Contattaci'" [invert]=true (clicked)="goToContact()" [noAnimation]=true class="hidden-sm hidden-xs"></scq-button>
    </div>
  </nav>
</header>
