<section class="intro bg_color" id="intro">
  <picture>
    <source srcset="assets/img/intro/banner-intro.webp" type="image/webp">
    <img class="banner_shap" data-wow-delay="0.3s" src="assets/img/intro/compatibility/banner-intro.png" alt="SCQUADRO, Sviluppiamo software a servizio del tuo business">
  </picture>
  <div class="container custom_container">
    <div class="row">
      <div class="col-lg-5 d-flex align-items-center">
        <div class="intro-content">
          <h2 class="f_700 t_color3 mb_40 wow fadeInLeft" data-wow-delay="0.3s">Sviluppiamo software a servizio del tuo business</h2>
          <p class="f_300 l_height28 wow fadeInLeft" data-wow-delay="0.4s">L’obiettivo primario è migliorare la competitività in 
            un mercato globale sempre più veloce e dinamico.</p>
          <h4 class="f_500 t_color3 wow fadeInLeft" data-wow-delay="0.5s">Come possiamo aiutarti:</h4>
          <div class="action_btn d-flex align-items-center mt_60">
            <scq-button [isFull]=true [text]="'Sviluppo'" (clicked)="onClick($event)" [anchor]="'development'"></scq-button>
            <scq-button [isFull]=false [text]="'Consulenza'" (clicked)="onClick($event)" [anchor]="'consulting'"></scq-button>            
          </div>
        </div>
      </div>
      <div class="col-lg-7 text-right">
        
        <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
        <picture>
          <source srcset="assets/img/intro/intro.webp" type="image/webp">
          <img class="protype_img wow fadeInRight" data-wow-delay="0.3s" src="assets/img/intro/compatibility/intro.png" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>
