<section class="testimonials bg_color sec_pad" id="testimonials">
  <div class="container">
    <h2 class="f_size_30 f_600 t_color3 l_height40 text-center mb_60">Cosa dicono di noi:</h2>
    <div class="testimonials-info">
      <owl-carousel [options]="options" [carouselClasses]="['testimonial_slider', 'owl-carousel']">
        <div class="testimonials-item text-center left">
          <div class="author_img">
            <picture>
              <source srcset="assets/img/testimonials/user.webp" type="image/webp">
              <img src="assets/img/testimonials/compatibility/user.webp" alt="">
            </picture>
          </div>
          <div class="author_description">
            <h4 class="f_500 t_color3 f_size_18">Lurch Schpellchek</h4>
            <h6>UI/UX designer</h6>
          </div>
          <p>What a load of rubbish bits and bobs pear shaped owt to do with me bubble and squeak jolly good morish
            tinkety tonk old fruit, car boot my good sir buggered plastered cheeky David, haggle young delinquent say
            so I said bite your arm off easy peasy. Skive off it's all gone to pot buggered.</p>
        </div>
        <div class="testimonials-item text-center center">
          <div class="author_img">
            <picture>
              <source srcset="assets/img/testimonials/user.webp" type="image/webp">
              <img src="assets/img/testimonials/compatibility/user.webp" alt="">
            </picture>
          </div>
          <div class="author_description">
            <h4 class="f_500 t_color3 f_size_18">Lurch Schpellchek</h4>
            <h6>UI/UX designer</h6>
          </div>
          <p>What a load of rubbish bits and bobs pear shaped owt to do with me bubble and squeak jolly good morish
            tinkety tonk old fruit, car boot my good sir buggered plastered cheeky David, haggle young delinquent say
            so I said bite your arm off easy peasy. Skive off it's all gone to pot buggered.</p>
        </div>
        <div class="testimonials-item text-center right">
          <div class="author_img">
            <picture>
              <source srcset="assets/img/testimonials/user.webp" type="image/webp">
              <img src="assets/img/testimonials/compatibility/user.webp" alt="">
            </picture>
          </div>
          <div class="author_description">
            <h4 class="f_500 t_color3 f_size_18">Lurch Schpellchek</h4>
            <h6>UI/UX designer</h6>
          </div>
          <p>What a load of rubbish bits and bobs pear shaped owt to do with me bubble and squeak jolly good morish
            tinkety tonk old fruit, car boot my good sir buggered plastered cheeky David, haggle young delinquent say
            so I said bite your arm off easy peasy. Skive off it's all gone to pot buggered.</p>
        </div>
        <div class="testimonials-item text-center">
          <div class="author_img">
            <picture>
              <source srcset="assets/img/testimonials/user.webp" type="image/webp">
              <img src="assets/img/testimonials/compatibility/user.webp" alt="">
            </picture>
          </div>
          <div class="author_description">
            <h4 class="f_500 t_color3 f_size_18">Lurch Schpellchek</h4>
            <h6>UI/UX designer</h6>
          </div>
          <p>What a load of rubbish bits and bobs pear shaped owt to do with me bubble and squeak jolly good morish
            tinkety tonk old fruit, car boot my good sir buggered plastered cheeky David, haggle young delinquent say
            so I said bite your arm off easy peasy. Skive off it's all gone to pot buggered.</p>
        </div>
      </owl-carousel>
    </div>
  </div>
</section>
