<section class="development sec_pad" id="development">
  <div class="decoration decoration--big"></div>
  <div class="decoration decoration--small"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="development-description pr_70 mt_60">
          <h2 class="f_600 f_p f_size_30 w_color l_height40 mb-30 wow fadeInUp" data-wow-delay="0.3s">Supportiamo il business del cliente con lo sviluppo di 
              soluzioni software adatte alle specifiche esigenze</h2>
            
          <p class="f_300 f_size_15 l_height_28 wow fadeInUp" data-wow-delay="0.4s">Ci avvaliamo delle più moderne tecnologie offerte dal settore web, 
            scegliendo di volta in volta la miglior soluzione per sopperire alle necessità del business.</p>
          
          <p class="f_300 f_size_15 l_height_28 wow fadeInUp" data-wow-delay="0.4s">Il ventaglio di tecnologie offerte su cui siamo specializzati ci 
            permette di spaziare su vari livelli di disponibilità in termini di 
          </p>            
          <ul class="list-unstyled mb-30">
            <li><i class="fal fa-angle-right"></i> tempistiche</li>
            <li><i class="fal fa-angle-right"></i> budget</li>
            <li><i class="fal fa-angle-right"></i> complessità</li>
          </ul>

          <p class="f_300 f_size_15 l_height_28 wow fadeInUp" data-wow-delay="0.4s">Non esiste un prodotto adatto a tutto, per questo i nostri servizi 
            vanno dal semplice sito web alla più complessa applicazione web based:</p>
        </div>
      </div>
      <div class="col-lg-7 development-services">
        <div class="row mb_30">
          <div class="col-lg-6 col-md-6">
            <div class="development-service development-service--one wow fadeInUp" data-wow-delay="0.3s">
              <i class="ti-package f_size_30"></i>
              <h6 class="mt_30 mb_20">Siti web aziendali</h6>
              <p class="mb-0">Sviluppiamo siti web di complessità e operatività crescente fino a portali di consultazione giornaliera per clienti, 
                partner o fornitori dell’azienda.              
                  </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="development-service development-service--two wow fadeInUp" data-wow-delay="0.5s">
              <i class="ti-cloud-down f_size_30"></i>
              <h6 class="mt_30 mb_20">Ecommerce B2B & B2C</h6>
              <p class="mb-0">Lo sviluppo del business di un’azienda che commercia prodotti può essere migliorato, concretizzato o internazionalizzato 
                da un portale ecommerce.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="development-service development-service--three wow fadeInUp" data-wow-delay="0.7s">
              <i class="ti-files f_size_30"></i>
              <h6 class="mt_30 mb_20">Applicazioni web</h6>
              <p class="mb-0">Le complessità sempre crescenti dei processi aziendali necessitano di software studiati e progettati espressamente al loro servizio.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="development-service development-service--four wow fadeInUp" data-wow-delay="0.9s">
              <i class="ti-server f_size_30"></i>
              <h6 class="mt_30 mb_20">Applicazioni mobile</h6>
              <p class="mb-0">Lo sviluppo di applicazioni pensate e ottimizzate per i dispositivi mobile aumentano la produttività, la facilità di utilizzo e
                la mobilità.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
