<section class="contact-us" id="contact">
  <div class="container">
    <div class="row contact-content wow fadeInUp" data-wow-delay="0.2s">
      <div class="col-lg-8 d-flex justify-content-start align-items-center">
        <h4 class="f_p f_size_20 l_height50 f_400 t_color mb-0">Contatta il nostro team per scoprire la soluzione migliore per te</h4>
      </div>
      <div class="col-lg-4 d-flex justify-content-end align-items-center">
        <scq-button [isFull]=true [text]="'Contattaci'" mat-button (clicked)="openDialog()"></scq-button>
      </div>
    </div>
  </div>
</section>
