/*============== intro css =============*/
.intro{
    padding-top: 150px;
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
    .banner_shap{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
}
.intro-content{
    h2{
        font-size: 50px;
        line-height: 66px;
    }
}