/*=============== development css ==============*/
.development{
    position: relative;
    overflow: hidden;
    background: $dark-green;
    
    .development-description {
        p{
            color: white;
        }

        ul{
            color: white;
        }
    }
}

.development-services{
    .development-service{
        color: #fff;
        border-radius: 4px;
        padding: 50px 30px 50px 40px;
        margin-bottom: 30px;
        transition: all 0.3s linear;

        h6{
            font-size: 18px;  
        }
        p{
            font-size: 15px;
            font-weight: 300;
            color: #fff;
        }
        &:hover{
            transform: scale(1.06);
        }

        &.development-service--one{
            background-image:linear-gradient(-40deg, #005677 0%, #acc8d4 100%);
        }
        &.development-service--two{
            background-image:linear-gradient(40deg, #222d39 0%, #3d57f4 100%);
        }
        &.development-service--three{
            background-image:linear-gradient(40deg, #3d57f4 0%, #222d39 100%);
        }
        &.development-service--four{
            background-image:linear-gradient(40deg, #005677 0%, #acc8d4 100%);
        }
    }
}

.decoration{
    position: absolute;
    transform: rotate(45deg);
    border-top-left-radius: 45px;
    opacity: 0.302;

    &--big{
        background-image:linear-gradient(40deg, #01719c 0%, #acc8d4 100%);
        width: 382px;
        height: 382px;
        bottom: -191px;
        left: -50px;
    }

    &--small{
        background-image:linear-gradient(40deg, #03b9ff 0%, #360f73 100%);
        width: 235px;
        height: 235px;
        bottom: -116px;
        left: 250px;
    }
}




/*============== agency_featured_area css =============*/

.consulting{
    padding-top: 160px;
}

.consulting-process{
    position: relative;
    padding-bottom: 170px;

    .dot_img{
        position: absolute;
        left: 0;
        top: 28px;
    }
}

.consulting-step{    
    margin-top: 130px;

    &.consulting-step--invert{
        .consulting-step__content{
            .dot{
                left: 30px;
            }
        }
    }
}

.consulting-step__content{
    position: relative;

    h3{
        font: 500 26px/36px $pop;
        color: #222d39;
        margin: 32px 0px 25px;
    }
    p{
        font-size: 15px;
    }

    .icon{
        width: 46px;
        height: 46px;
        line-height: 46px;
        border-radius: 50%;
        background-image:linear-gradient(40deg, rgb(14, 76, 103) 0%, #97b3be 100%);
        box-shadow: 0px 10px 20px 0px rgba(14, 76, 103, 0.2);
        font-size: 20px;
        color: #fff;
        display: inline-block;
        text-align: center;
    }
}

.dot{
    width:20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 161, 39, 0.161);
    display: block;
    position: absolute;
    left: -9px;
    top: 15px;

    .dot1{
        position: absolute;
        left: 50%;
        margin-top: -4px;
        margin-left: -4px;
        top: 50%;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #feb85d;
    }
    .dot2{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgba(254, 184, 93, 0.8);
        animation: pulsate 3s infinite;
        animation-delay: 1.5s;
        transform: translate(-50%, -50%);
        will-change: transform;
    }
    &.middle_dot{
        left: 54.8%;
        transform: translateX(-50%);
        bottom: 0;
        top: auto;
    }
}