/*============== footer_area css ==============*/

.footer_area{
    background: $dark-green;
}

.f_bg{
    background: #eff2f9;
    box-shadow: 0px -1px 0px 0px rgba(231, 236, 246, 0.004);
}
.footer_top{
    border-bottom: 1px solid #1f1d48;
    padding: 50px 0px 50px;
}
.f_widget{
    .f-title{
        color: #fff;  
    }

    .widget-wrap{
        color: #9ca5c1;
        margin-top: 15px;
        p{
            span{
                color: #9ca5c1;
                font-weight: 600;
            }
            a{
                color: #677294;
                transition: color 0.2s linear;
                &:hover{
                    color: $light;
                }
            }
        }
    }
    &.company_widget{
        .mchimp-errmessage,.mchimp-sucmessage{
            position: absolute;
        }
    }
    &.about-widget{

        color: #9ca5c1;
        .f_list{
            margin-bottom: 0px;
            li{
                margin-bottom: 15px;
                a{
                    font: 300 16px/20px $pop;
                    color: #9ca5c1;
                    position: relative;
                    transition: color 0.2s linear;
                    display: inline-block;
                    &:before{
                        content: "";
                        width: 0;
                        height: 1px;
                        background: $light;
                        right: 0;
                        left: auto;
                        bottom: 0;
                        position: absolute;
                        transition: width 0.2s linear;
                    }
                    &:hover{
                        color: $light;
                        &:before{
                            width: 100%;
                            right: auto;
                            left: 0;
                        }
                    }
                }
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
    }
}

.f-logo-image{
    height: 80px;
}