/*============== header_area css ==============*/
.header_area{
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 20;
    top: 0;
    .container{
        position: relative;
    }
}

.menu_one{
    padding: 0px;

    .scq-btn{
        border-color: #fff;
        padding: 0px 30px;
        background: #fff;
        min-width: 120px;
        text-align: center;
        margin-left: 40px;
        &:hover{
            background: $dark-green;
            border-color: $dark-green;
        }
    }
    .menu_toggle{
        .hamburger,.hamburger-cross{
            span{
                background: #fff;
            }
        }
    } 
}

.hidden-sm{
    @media(max-width:991px){
        visibility: hidden;
        display: none;
    }
}

.menu{
    >.nav-item{
        position: relative;
        padding-bottom: 35px;
        padding-top: 35px;
       > .nav-link{
            font: 500 15px $pop;
            color: $h_dk;
            padding: 0px;
            transition: color 0.3s ease 0s;
            position: relative;
            cursor: pointer;
            &:before{
                content: "";
                width: 0;
                height: 1px;
                background: $dark-green;
                position: absolute;
                bottom: 0;
                left: auto;
                right: 0;
                transition: all 0.2s linear;
            }
            &:after{
                display: none;
            }
        }
        & + .nav-item{
            margin-left: 45px;
        }
        &.active{
            .nav-link{
                color: $dark-green; 
                &:before{
                    width: 100%;
                    left: 0;
                    right: auto;
                }
            }
        }
        &:hover{
            .nav-link{
                color: $dark-green; 
                &:before{
                    width: 100%;
                    left: 0;
                    right: auto;
                }
            }
        }
    }
}

.scq-btn_radious{
    border-radius: 45px;
    border-width: 1px;
    color: #fff;
    background: #fff;
    box-shadow: none;
    padding: 0px 28px;
    line-height: 45px;
    &:before{
        background: #5846ed;
    }
    &:hover{
        color: #5846ed;
    }
}

/*========= hamburger menu css ========*/
.navbar-toggler{
    padding: 0px;
    margin-left: 20px;
    &:focus{
        outline: none;
    }
}
.menu_toggle {
    width: 22px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: block;
    .hamburger{
        position: absolute;
        height: 100%;
        width: 100%;
        display: block;
        span{
            width: 0%;
            height: 2px;
            position: relative;
            top: 0;
            left: 0;
            margin: 4px 0;
            display: block;
            background: $dark-green;
            border-radius: 3px;
            -webkit-transition: .2s ease-in-out;
            transition: .2s ease-in-out;
            &:nth-child(1){
                transition-delay: 0s;
            }
            &:nth-child(2){
                transition-delay: .125s;
            }
            &:nth-child(3){
                transition-delay: .2s;
            }
        }
    }
    .hamburger-cross{
        position: absolute;
        height: 100%;
        width: 100%;
        transform: rotate(45deg);
        display: block;
        span{
            display: block;
            background: #fff;
            border-radius: 3px;
            -webkit-transition: .2s ease-in-out;
            transition: .2s ease-in-out;
            &:nth-child(1){
                height: 100%;
                width: 2px;
                position: absolute;
                top: 0;
                left: 10px;
                transition-delay: .3s;
            }
            &:nth-child(2){
                width: 100%;
                height: 2px;
                position: absolute;
                left: 0;
                top: 10px;
                transition-delay: .4s;
            }
        }
    }
}
.collapsed{
    .menu_toggle{
        .hamburger{
            span{
                width: 100%;
                &:nth-child(1){
                    transition-delay: .3s;
                }
                &:nth-child(2){
                    transition-delay: .4s;
                }
                &:nth-child(3){
                    transition-delay: .5s;
                }
            }
        }
        .hamburger-cross{
            span{
                &:nth-child(1){
                    height: 0%;
                    transition-delay: 0s;
                }
                &:nth-child(2){
                    width: 0%;
                    transition-delay: .2s;
                }
            }
        }
    }
}


/*============ sticky menu css ==============*/
.header_area{
    transition: all 0.2s linear;
    &.navbar_fixed{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
        .menu_one{
            padding: 0px;
            transition: all 0.2s linear;
            .scq-btn{
                border: 2px solid $dark-green;
                box-shadow: none;
                &:hover{
                    border-color: $dark-green;
                }
            }
            .menu_toggle{
                .hamburger,.hamburger-cross{
                    span{
                        background:$dark-green; 
                    }
                }
            } 
        }
    }
}
