.page-not-found{
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../img/page-not-found/ninja-background.jpg") bottom;
  background-size: cover;
}

.not-found-suptitle{
  margin: auto;
  margin-top: 50px;
  display: block;
  width: 300px;
  max-width: 100%;
}

.not-found-suptitle__image{
  max-width: 100%;
  width: 100%;
}

.not-found-title{
  margin: auto;
  margin-top: 50px;
  display: block;
  width: 650px;
  max-width: 100%;
}

.not-found-title__image{
  max-width: 100%;
  width: 100%;
}

.back-to-home{
  display: block;
  width: 330px;
  height: 75px;
  margin: auto;
  margin-top: 150px;
  background: url("../img/page-not-found/back-to-home.svg") bottom;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}