@media (min-width:2000px){
  .call_action_area .action_one{
      left: 40px;
  }
}
@media(max-width:1650px){
  .about_content{
      padding: 100px 30px;
  }
}
@media (max-width: 1550px){
  .container.custom_container{
      max-width: 1170px;
  }
  .company_widget img,.protype_img{
      max-width: 100%;
  }
  .consulting img{
      max-width: 100%;
  }
  .about_content_left {
      padding: 0px 0px 0px 50px;
  }
  .about_content {
      padding: 60px 30px 100px;
  }
  .about_img .about_img_slider .about_item .about_text{
      padding: 0px 20px;
  }
  .intro .banner_shap{
      width: 80%;
      top: -100px;
  }
  .development-services .f_img_two{
      margin-right: 0px;
  }
  .development-services .f_img_one{
      margin-left: 0px;
  }
  .menu > .nav-item:nth-last-child(-n+2).submenu .dropdown-menu{
      left: auto;
      right: 0;
  }
}


@media (max-width:1199px){
  .container.custom_container {
      max-width: 960px;
  }
  .consulting-step .consulting-step__content{
      padding-right: 0px;
      padding-left: 20px;
  }
  .consulting-process .dot_img,.dot{
      display: none;
  }
  .consulting-step {
      margin-top: 80px;
  }
  .consulting-process{
      padding-bottom: 0px;
  }
  .about_content_left,.about_img{
      max-width: 100%;
      flex: 1;
      padding-left: 0;
  }
  .about{
      display: block !important;
      padding: 0px 15px;
  }
  .about_content{
      bottom: 0px;
      margin-bottom: 0px;
      padding: 90px 30px 100px;
  }
  .intro-content h2 {
      font-size: 36px;
      line-height: 53px;
  }
  .intro .banner_shap{
      width: 100%;
      top: -200px;
  }
  .about .owl-dots {
      left: 30px;
      top: -63px;
      margin-top: 0px;
      bottom: auto;
  }
  .development-description.pr_70,.developer_product_content{
      padding-right: 0px;
  }
  .development-services .development-service{
      padding: 50px 10px 50px 20px;
  }
  .development-description h2 br{
      display: none;
  }
  .development-services .pl_100{
      padding-left: 15px;
  }
  .development-services .pr_70{
      padding-right: 15px;
  }
  .consulting-process.feature_info_two{
      padding-bottom: 0;
  }
  .menu > .nav-item + .nav-item {
      margin-left: 20px;
  }
}

@media (max-width:991px){
  .footer_top .f_widget{
      padding-left: 0px;
      margin-bottom: 40px;
  }
  .footer_top{
      padding-bottom: 60px;
  }
  .container.custom_container {
      max-width: 100%;
      padding: 0px 15px;
  }
  .intro .banner_shap {
      width: auto;
      top: 0;
      max-width: 100%;
  }
  .partners-info .partner-logo{
      width: calc(100% / 3);
  }
  .development-services{
      margin-top: 60px;
  }
  .development-description.pr_70{
      margin-top: 0px;
  }
  .development .development-services{
      margin-top: 30px;
  }
  .development-services .f_img_one,.development-services .f_img_two{
      margin-bottom: 50px;
  }
  .development .development-services + .development-services{
      margin-top: 100px;
  }
  .consulting-process.feature_info_two .consulting{
      text-align: left !important;
      margin-bottom: 50px;
  }
  .consulting-step .consulting{
      text-align: left !important;
  }
  .intro-content{
      max-width: 500px;   
  }
  .consulting-step .consulting-step__content{
      padding-left: 0px;
      margin-top: 50px;
  }
  .menu > .nav-item + .nav-item{
      margin-left: 0px;
  }
  .menu > .nav-item{
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .menu{
      padding: 10px 30px;
      background: #fff;
      margin-top: 20px;
  }
  .navbar-collapse {
      max-height: 400px;
      overflow-y: scroll;
      margin-left: -20px;
      margin-right: -20px;
  }
  .menu > .nav-item > .nav-link{
      display: inline-block;
  }
  .menu > .nav-item.submenu .dropdown-menu .nav-item > .dropdown-menu{
      display: block;
      box-shadow: none;
  }
  .menu > .nav-item.submenu .dropdown-menu .nav-item{
      padding: 0px 25px;
  }
  .menu > .nav-item.submenu .dropdown-menu{
      box-shadow: none;
      -webkit-transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0s;
      -moz-transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0s;
      -ms-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0s;
      -o-transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0s;
      transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0s;
      max-height: 0;
      display: block;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      padding: 0px;
      margin: 0px;
  }
  .menu > .nav-item.submenu .dropdown-menu.show{
      -webkit-transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0s;
      -moz-transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0s;
      -ms-transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0s;
      -o-transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0s;
      transition: max-height 0.5s, opacity 0.2s 0.1s, visibility 0s 0s;
      max-height: 250px;
      overflow-y: scroll;
      display: block;
      opacity: 1;
      visibility: visible;
  }
  .menu > .nav-item.submenu .dropdown-menu .nav-item.submenu .dropdown-menu .nav-item{
      padding-left: 15px;
      padding-right: 15px;
  }
  .menu > .nav-item.submenu .dropdown-menu .nav-item.submenu .dropdown-menu .nav-item:first-child{
      padding-top: 0;
  }
  .menu > .nav-item.submenu .dropdown-menu .nav-item.submenu .dropdown-menu .nav-item:last-child{
      padding-bottom: 0;
  }
  .menu > .nav-item.submenu .dropdown-menu .nav-item.submenu .dropdown-menu .nav-item .nav-link:before{
      content: "\e649";
      display: inline-block;
      font-family: 'themify';
      margin-right: 8px;
      width: auto;
      font-size: 9px;
      float: none;
  }
  .menu > .nav-item.submenu.mega_menu > .dropdown-menu{
      margin-top: 10px;
      box-shadow: none;
  }
  .menu > .nav-item.submenu.mega_menu > .dropdown-menu > .nav-item + .nav-item{
      padding-top: 0px;
  }
  .menu > .nav-item.submenu.mega_menu > .dropdown-menu > .nav-item .dropdown-menu{
      padding-left: 15px;
      opacity: 1;
      visibility: visible;
      min-height: max-content;
  }
  .menu > .nav-item.submenu .dropdown-menu .nav-item:first-child {
      padding-top: 12px;
  }
  .menu > .nav-item.submenu .dropdown-menu .nav-item:last-child{
      padding-bottom: 0px;
  }
  .menu_one .mobile_btn{
      margin-left: 15px;
  }
  .header_area .container {
      padding-left: 20px;
      padding-right: 20px;
  }
  .menu_one,.header_area.navbar_fixed .menu_one,.menu_two,.menu_six,.menu_seven{
      padding: 15px 0px;
  }
  .w_menu .nav-item .nav-link{
      color: #051441;
  }
  .w_menu .nav-item:hover .nav-link, .w_menu .nav-item.active .nav-link{
      color: #00aff0;
  }
  .contact-us .contact-content{
      padding: 30px 30px 38px;
      text-align: center;
  }
  .contact-us .justify-content-end{
      justify-content: center !important;
      margin-top: 20px;
  }
}

@media (max-height:420px){
  .navbar-collapse {
      max-height: 310px;
  }
}

@media (max-width:768px){
  .l_height60{
      line-height: 55px;
  }
   .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev{
      opacity: 0;
  }
  .consulting-step .consulting{
      text-align: center !important;
  }
  .consulting-step .consulting-step__content{
      padding-left: 0;
      margin-top: 50px;
  }
  .mb_90{
      margin-bottom: 50px;
  }
  .testimonials,.software_featured_area{
      padding-top: 70px
  }
  .testimonials-info .testimonial_slider{
      padding: 50px 20px;
  }
  .consulting-process.feature_info_two .consulting{
      margin-bottom: 0px;
  }
  .development-services .f_img_two:before{
      top: -20px;
  }
  .development-services .development-service{
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
  }
}

@media (max-width:650px){
  .t_color3 br{
      display: none;
  }
  .company_widget .mt_40{
      margin-top: 25px;
  }
  .f_widget h3.mb-30{
      margin-bottom: 15px;
  }
  .f_widget .widget-wrap{
      margin-top: 20px;
  }
}

@media (max-width:576px){
  .l_height60,.l_height50 {
      line-height: 45px;
  }
  .f_size_30{
      font-size: 24px;
      line-height: 35px;
  }
  .f_size_40{
      font-size: 30px;
  }
  .intro-content h2{
      font-size: 28px;
      line-height: 45px;
      margin-bottom: 23px;
  }
  .intro-content .action_btn{
      display: block !important;
      text-align: center;
  }
  .intro-content .action_btn .scq-btn--full{
      display: block;
      margin-bottom: 20px;
  }
  .scq-btn--full_two{
      margin-left: 0px;
  }
  .about_content{
      padding: 90px 15px 100px;
  }
  .partners-info .partner-logo{
      width: calc(100% / 2);
  }
  .sec_title h2.mb_20{
      margin-bottom: 10px;
  }
}

@media (max-width:450px){
  .partners-info .partner-logo{
      width: 100%;
  }
  .text_box input[type="text"], .text_box textarea, .text_box input[type="password"]{
      padding-left: 10px;
  }
}
