/*=============== testimonials css ==============*/
.testimonials-info{
    position: relative;
    
    .testimonial_slider{
        max-width: 770px;
        border-radius: 6px;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 20px 40px 0px rgba(12, 0, 46, 0.06);
        padding: 50px;
        .testimonials-item{
            z-index: 0;
            transition: all 0.2s linear;
            .author_img{
                img{
                    max-width: 100%;
                    width: auto;
                    display: inline-block;
                    border-radius: 50%;
                }
            }
            .author_description{
                margin-top: 18px;
                margin-bottom: 40px;
                h4{
                    margin-bottom: 5px;
                }
                h6{
                    font: 400 14px/26px $pop;
                    color: #959cb1;
                }
            }
            p{
                font-weight: 300;
                font-size: 16px;
                line-height: 30px;
                margin-bottom: 50px;
            }
        }
        .active{
            position: relative;
            z-index: 9;
        }
        .owl-dots{
            text-align: center;
            bottom: 0px;
            position: relative;
            margin-top: 0px;
            .owl-dot{
                width: 16px;
                height: 16px;
                border-radius: 50%;
                border: 1px solid transparent;
                transition: all 0.2s linear;
                margin: 0px 2px;
                span{
                    width: 8px;
                    height: 8px;
                    background: #cfcfe7;
                    border-radius: 50%;
                    display: block;
                    margin: 0 auto;
                    border: 0px;
                    transition: all 0.2s linear;
                }
                &.active{
                    border-color: rgb(94, 44, 237);
                    span{
                        transform: scale(0);
                    }
                }
            }
        }
    }
    .owl-prev,.owl-next{
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        border: 1px solid rgb(243, 245, 248);
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.06);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        &:hover{
            background: #5e2ced;
            color: #fff;
        }
    }
    .owl-next{
        right: 0;
    }
}

.partners-info{
    text-align: center;
    justify-content: center;
    .partner-logo{
        width: calc(100% / 5);
        margin-bottom: 60px;
        img{
            max-width: 100%;
            -webkit-filter: contrast(0.3%);
            filter: contrast(0.3%);
            -webkit-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
        }
        &:hover{
            img{
                filter: contrast(100%);
            }
        }
    }
}
/*=============== partners css ================*/
.partners{
    padding: 100px 0px;
    .partners-info{
        margin-bottom: -20px;
        .partner-logo{
            margin-bottom: 20px;
            img{
                filter: contrast(100%);
                transition: all 0.3s linear;
            }
            &:hover{
                img{
                    filter: brightness(200%);
                }
            }
        }
    }
}

/*=========== contact-us css ==========*/
.contact-us{
    .contact-content{
        max-width: 970px;
        margin: 0 auto;
        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 22px 95px 0px rgba(55, 168, 237, 0.1);
        display: flex;
        flex-wrap: wrap;
        padding: 60px;
        margin-bottom: -50px;
        position: relative;
        z-index: 2;
        .gr_btn{
            min-width: 200px;
            padding: 20px 0px;
            text-align: center;
            color: #fff;
            &:before{
                opacity: 0;
                transition: all 0.2s linear;
            }
            &:hover{
                color: #23b1fe;
                &:before{
                    opacity: 1;
                }
            }
        }
    }
}