<footer class="footer_area pt_120">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="f_widget company_widget wow fadeInUp" data-wow-delay="0.2s">
            <a href="/" class="f-logo">
              <img class="f-logo-image" src="assets/img/scquadro-marchio-negative.svg" alt="SCQUADRO Marchio">
            </a>
            <div class="widget-wrap">
              <p class="f_400 f_p f_size_15 mb-0 l_height34"><span>Email:</span> <a href="mailto:info@scquadro.it"
                  class="f_300"> info@scquadro.it</a></p>
              <p class="f_400 f_p f_size_15 mb-0 l_height34"><span>Phone:</span> <a href="tel:347 4927214" class="f_300"> +39
                  347 4927214</a></p>
            </div>
            <div class="widget-wrap">
                <p class="f_400 f_p f_size_15 mb-0 l_height34">Copyright © 2018 Desing by <a>SCQUADRO</a> | P. IVA IT473648239347</p>
                <p class="f_400 f_p f_size_15 mb-0 l_height34">
                  <a href="https://www.iubenda.com/privacy-policy/898795" class="iubenda-nostyle no-brand iubenda-embed  iub-legal-only" title="Privacy Policy">Privacy Policy</a>
                   | 
                  <a href="https://www.iubenda.com/privacy-policy/898795/cookie-policy" class="iubenda-nostyle no-brand iubenda-embed " title="Cookie Policy">Cookie Policy</a>
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
