<div class="page-not-found">
  <span class="not-found-suptitle">
    <img class="not-found-suptitle__image" src="assets/img/page-not-found/error-404.svg" />
  </span>
  <span class="not-found-title">
    <img class="not-found-title__image" src="assets/img/page-not-found/ninja-stole-page.svg" />
  </span>
  <a class="back-to-home" [routerLink]="['/']" ></a>
</div>