<section class="partners dk_bg_two" id="partner">
  <div class="container">
    <div class="row partners-info">
      <div class="partner-logo wow fadeInLeft" data-wow-delay="0.2s">
        <a href="#"><img src="assets/img/home6/logo_01.png" alt=""></a>
      </div>
      <div class="partner-logo wow fadeInLeft" data-wow-delay="0.4s">
        <a href="#"><img src="assets/img/home6/logo_02.png" alt=""></a>
      </div>
      <div class="partner-logo wow fadeInLeft" data-wow-delay="0.6s">
        <a href="#"><img src="assets/img/home6/logo_03.png" alt=""></a>
      </div>
      <div class="partner-logo wow fadeInLeft" data-wow-delay="0.8s">
        <a href="#"><img src="assets/img/home6/logo_04.png" alt=""></a>
      </div>
      <div class="partner-logo wow fadeInLeft" data-wow-delay="0.9s">
        <a href="#"><img src="assets/img/home6/logo_05.png" alt=""></a>
      </div>
    </div>
  </div>
</section>
