<h1 mat-dialog-title>Contattaci per una consulenza o maggiori informazioni</h1>
<div mat-dialog-content>
  <div class="contact-dialog">
    <div class="contact-dialog__content contact-mail">
      <h4 class="contact-dialog__title">Via mail:</h4>
      <a class="contact-dialog__element" href="mailto:info@scquadro.it">info@scquadro.it</a>
    </div>
    <div class="contact-dialog__content contact-telephone">
      <h4 class="contact-dialog__title">Telefonicamente:</h4>
      <a class="contact-dialog__element" href="tel:+393474927214">+39 347 4927214</a>
    </div>
  </div>
</div>
