<scq-header [routes]="menuElements" (menuVoiceSelected)="onChangeMenu($event)"></scq-header>
<scq-intro></scq-intro>
<scq-development></scq-development>
<scq-consulting></scq-consulting>
<scq-about></scq-about>
<!-- <scq-testimonials></scq-testimonials> -->
<!-- <scq-partner></scq-partner> -->
<scq-contact-us></scq-contact-us>
<scq-footer></scq-footer>