<section class="consulting bg_color" id="consulting">
  <div class="container">
    <h2 class="f_size_30 f_600 t_color3 l_height40 text-center wow fadeInUp" data-wow-delay="0.3s">Servizi di consulenza
      e analisi<br> del business in ottica di sviluppo software</h2>
    <div class="consulting-process">      
      <picture>
        <source srcset="assets/img/consulting/dot.webp" type="image/webp">
        <img class="dot_img" src="assets/img/consulting/compatibility/dot.png" alt="">
      </picture>
      <div class="row consulting-step flex-row-reverse">
        <div class="col-lg-6">
          <div class="consulting-step__img text-right wow fadeInRight" data-wow-delay="0.4s">            
            <picture>
              <source [attr.defaultImage]="'assets/img/consulting/thumb/step-1.png'" [attr.lazyLoad]="'assets/img/consulting/step-1.webp'">
              <img [defaultImage]="'assets/img/consulting/compatibility/step-1.png'" 
                [lazyLoad]="'assets/img/consulting/compatibility/step-1.png'" 
                [offset]="100" 
                alt="Definizione delle criticità di processo">
            </picture>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="consulting-step__content pr_70 pl_70 wow fadeInLeft" data-wow-delay="0.6s">
            <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
            <picture>
              <source srcset="assets/img/consulting/icon01.webp" type="image/webp">
              <img class="number" src="assets/img/consulting/compatibility/icon01.png" alt="Step number one">
            </picture>
            <h3>Definizione delle criticità di processo</h3>
            <p>Il primo passo nello sviluppo di un nuovo software per un'azienda è la definizione precisa delle criticità del processo da 
              migliorare o ottimizare.
              Questo perchè il software deve essere al servizio del processo e del business, e non il contrario.</p>
          </div>
        </div>
      </div>
      <div class="row consulting-step consulting-step--invert">
        <div class="col-lg-6">
          <div class="consulting-step__img text-right wow fadeInLeft" data-wow-delay="0.3s">            
            <picture>
              <source [attr.defaultImage]="'assets/img/consulting/thumb/step-2.png'" [attr.lazyLoad]="'assets/img/consulting/step-2.webp'">
              <img [defaultImage]="'assets/img/consulting/compatibility/step-2.png'" 
                [lazyLoad]="'assets/img/consulting/compatibility/step-2.png'" 
                [offset]="100" 
                alt="Analisi delle soluzioni di business">
            </picture>   
          </div>
        </div>
        <div class="col-lg-6">
          <div class="consulting-step__content pl_100 wow fadeInRight" data-wow-delay="0.5s">
            <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
            <picture>
              <source srcset="assets/img/consulting/icon02.webp" type="image/webp">
              <img class="number" src="assets/img/consulting/compatibility/icon02.png" alt="Step number two">
            </picture>
            <h3>Analisi delle soluzioni di business</h3>
            <p>Identificate le criticità si passa ad una analisi delle possibili soluzioni in ottica business dell'azienda,
              è indispensabile che siano in linea con il resto dei processi e che creino integrazioni e non nuovi ostacoli nell'ecosistema aziendale.
            </p>
          </div>
        </div>
      </div>
      <div class="row consulting-step flex-row-reverse">
        <div class="col-lg-6">
          <div class="consulting-step__img text-right wow fadeInRight" data-wow-delay="0.3s">            
            <picture>
              <source [attr.defaultImage]="'assets/img/consulting/thumb/step-3.png'" [attr.lazyLoad]="'assets/img/consulting/step-3.webp'">
              <img [defaultImage]="'assets/img/consulting/compatibility/step-3.png'" 
                [lazyLoad]="'assets/img/consulting/compatibility/step-3.png'" 
                [offset]="100" 
                alt="Definizione delle specifiche del software">
            </picture>   
          </div>
        </div>
        <div class="col-lg-6">
          <div class="consulting-step__content pr_70 pl_70 wow fadeInLeft" data-wow-delay="0.5s">
            <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
            <picture>
              <source srcset="assets/img/consulting/icon3.webp" type="image/webp">
              <img class="number" src="assets/img/consulting/compatibility/icon3.png" alt="Step number three">
            </picture>
            <h3>Definizione delle specifiche del software </h3>
            <p>Una volta definito il contesto di lavoro, le criticità e le soluzioni da adottare, si potrà dunque stilare le specifiche tecniche
              del software, indispensabili poi ad uno sviluppo oculato dello stesso, con ben chiari obiettibi e paletti.
            </p>
            <scq-button [isFull]=true [text]="'Contattaci'" (clicked)="onClick($event)" [anchor]="'contact'"></scq-button>
          </div>
        </div>
      </div>
      <div class="dot middle_dot"><span class="dot1"></span><span class="dot2"></span></div>
    </div>
  </div>
</section>
