<section class="about d-flex bg_color" id="about">
  <div class="col-lg-6 about_content_left ">
    <div class="about_content mb_30">
      <h2 class="f_size_30 f_700 l_height45 mb_20">Il software nel cuore,<br>il tuo business in testa.</h2>
      <p class="f_size_15 f_300 mb_40">SCQUADRO è una software house specializzata in servizi di sviluppo orientati al business. 
        Seguiamo un approccio analitico dalla stesura dei requisiti alla realizzazione del progetto, mettendo in primo piano
        le necessità aziendali e come ottimizzarle.
      </p>
        <scq-button [text]="'Scopri i servizi'" [invert]=true (clicked)="onClick($event)" [anchor]="'development'"></scq-button>
    </div>
  </div>
  <div class="col-lg-6 about_img">
    <owl-carousel [options]="options" [carouselClasses]="['about_img_slider', 'owl-carousel']">
        <div class="item">
          <div class="about_item w45">
            <picture>
              <source [attr.defaultImage]="'assets/img/about/thumb/team-1.png'" [attr.lazyLoad]="'assets/img/about/team-1.webp'">
              <img [defaultImage]="'assets/img/about/compatibility/team-1.png'" [lazyLoad]="'assets/img/about/compatibility/team-1.png'" [offset]="100" alt="SCQUADRO Team at work">
            </picture>
            <div class="about_text">
              <span class="br"></span>
              <!-- <h5 class="f_size_18 l_height28 mb-0">Why I say old chap that is spiffing bodge, blag pardon.</h5> -->
            </div>
          </div>
          <div class="about_item w55">
            <picture>
              <source [attr.defaultImage]="'assets/img/about/thumb/team-2.png'" [attr.lazyLoad]="'assets/img/about/team-2.webp'">
              <img [defaultImage]="'assets/img/about/compatibility/team-2.png'" [lazyLoad]="'assets/img/about/compatibility/team-2.png'" [offset]="100" alt="SCQUADRO Team at work">
            </picture>   
            <div class="about_text text_two">
              <span class="br"></span>
              <!-- <h5 class="f_size_18 l_height28 mb-0">Oxford butty bubble and squeak wind up, brown bread the full monty.</h5> -->
            </div>
          </div>
          <div class="about_item w55">
            <picture>
              <source [attr.defaultImage]="'assets/img/about/thumb/team-3.png'" [attr.lazyLoad]="'assets/img/about/team-3.webp'">
              <img [defaultImage]="'assets/img/about/compatibility/team-3.png'" [lazyLoad]="'assets/img/about/compatibility/team-3.png'" [offset]="100" alt="SCQUADRO Team at work">
            </picture>
            <div class="about_text text_two">
              <span class="br"></span>
              <!-- <h5 class="f_size_18 l_height28 mb-0">Starkers dropped a clanger lurgy is cack excuse my French what.</h5> -->
            </div>
          </div>
        </div>
    </owl-carousel>
  </div>
</section>
